div{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: #f042a8 #ef943f #7a5ff2 #e41f1f;
    border-radius: 50%;
    background-image: url(/03-css/image/crm.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}