<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- Axios CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     
     <link rel="stylesheet" href="/static/css/thumbnail.css">
</head>
<body>
    <h1><%= title %></h1>
    
    <input type="text" src="" alt="" placeholder="아이디"><br>
    <input type="password" src="" alt="" placeholder="비밀번호"><br>
    <input type="text" src="" alt="" placeholder="이름"><br>
    <input type="number" src="" alt="" placeholder="나이"><br>

    <input type="file" name="thumbnail" id="thumbnail"><br><br>
    <button type="button" onclick="uploadThumbnail();">회원가입</button>

    <!-- 썸네일 업로드 내용을 바로 업로드 -->
    <img src="" alt=""><br>

    <script src="/static/js/thumbnail.js"></script>
</body>
</html>