<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <form name="form_info" action="/profile" method="POST">
        <input type="hidden" name="userid" />
    </form>

    <div class="container">
        <h1>로그인</h1>
        <form name="form_login" class="login-form">
            <input type="text" name="userid" id="userid" placeholder="아이디">
            <input type="password" name="userpw" id="userpw" placeholder="비밀번호">
            <span class="msg"></span>
            <button type="button" onclick="login()">로그인</button>
        </form>
        <div class="session">
            <input type="checkbox" name="session-id" id="session-id" class="session-id">
            <label for="session-id">아이디 저장</label>
        </div>
        <div class="add">
            <a href="/user/signup">회원가입 하러가기</a>
        </div>
    </div>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>