@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    /* background-color: rgb(255, 233, 237); */
    background-color: rgb(211, 238, 246);
    color: #2e3632;
    font-family: 'MangoDdobak-B';
}