@import url(reset.css);
@import url(common.css);

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    /* background-color: rgb(255, 233, 237); */
    background-color: rgb(211, 238, 246);
}

h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin: 0 50px;
}

.login-form input{
    font-family: 'MangoDdobak-B';
    border: none;
    padding: 15px 0;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color .3s ease-in-out;
}

.login-form .msg{
    display: block;
    color: blue;
    font-size: 14px;
    height: 14px;
}

.login-form input:focus{
    /* border-color: pink; */
    border-color: lightblue;
}

.login-form button{
    /* background-color: pink; */
    background-color: lightblue;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    font-family: 'MangoDdobak-B';
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

.login-form button:hover{
    background-color: aqua;
}

.session{
    display: flex;
    justify-content: center;
}

.session-id{
    text-align: center;
    padding: 20px 20px;
    width: 20px;
}

.add{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add:hover{
    color: blue;
}