<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '로그인' })%>
  <body>
    <h1>로그인</h1>
    <!-- 
      [로그인] 버튼을 클릭하면 profile.ejs에서 특정 유저 정보를 보여주어야 하기 때문에 
      userid 정보를 value에 저장(POST /user/signin 요청의 응답을 받은 후 수행)하여
      폼(input)이 보이지 않도록 hidden 처리함
    -->
    <form name="form_info" action="/user/profile" method="POST">
      <input type="hidden" name="userid" />
    </form>

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="login();">Login</button>
    </form>

    <a href="/user/signup">Register</a>

    <script>
      async function login() {
          console.log('login btn');

          const form = document.forms['form_login'];
          const formInfo = document.forms['form_info'];

          // Check form validity
          if (!form.checkValidity()) {   // 폼 유효성 검사
              form.reportValidity();     // 브라우저가 기본 유효성 검사 메시지를 표시
              return;
          }

          const data = {
            userid: form.userid.value,
            pw: form.password.value,
          };

          try {
              const loginRes = await axios({
                method: 'POST',
                url: '/user/signin',
                data
              })

              const result = loginRes.data.result;
              console.log(result);

              if (result) {
                const {userid} = loginRes.data.result;
                console.log(userid);
                formInfo.userid.value = userid;
                alert('로그인 성공!');
                formInfo.submit();
              } else {
                  alert('로그인 실패!');
                  form.reset();
                  formInfo.reset();
              }
          } catch (err) {
              console.log(err);
              alert('로그인 중 오류가 발생했습니다.');
          }
      }
    </script>
  </body>
</html>
